.App {
  margin: 0;
  text-align: center;

  background-image: url("img/cinema.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-wrapper{
  min-height: 85vh;
}

.movies-list-section{
  padding-top: 20px;
}

.movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movies-list-item{
  margin: 5px 10px 50px 5px;
  width: 100%;
}


.notification.is-danger {
  margin: 10%;
 }

.card {
  height: 100%;
}

.card-link:hover{
  box-shadow: 0 0 30px #ffffff;
  position:relative;
  top:-3px;
  left:-3px;
  display:block;
  z-index:999;
}


.details{
  padding: 5% 15%;
  color: #4a4a4a !important;
  background-color: #f9f9f991;
  min-height: 85vh;
}

.card-details-container{
  padding: 5% 5%;
}
.card-details-container .card{
  text-align: left;
}

.footer{
  bottom: 0;
  width: 100%;
  height: 15vh;
}

.footer a{
  color: white !important;
  font-style: italic;
}

.searchForm-wrapper{
  display: flex;
  justify-content: center;
  color: #4a4a4a !important;
  border-radius: 50px !important;
}

@media only screen and (min-width: 740px) {
  .movies-list-item {
    width: 48%;
    margin-bottom: 20px;
  }
  .movies-list{
    align-items: stretch;
  }
  .card-details-container{
    padding: 5% 20%;
  }
  .hero.is-small .hero-body {
    padding: 1.5rem !important;
  }
}

@media only screen and (min-width: 1020px) {
  .movies-list-item {
    width: 32%;
    margin-bottom: 20px;
  }
  .movies-list{
    align-items: stretch;
  }

  .card-details-container{
    padding: 5% 23%;
  }
}

@media only screen and (min-width: 1400px) {
  .movies-list-item {
    width: 23%;
    margin-bottom: 20px;
  }
  .movies-list{
    align-items: stretch;
  }

  .card-details-container{
    padding: 5% 27%;
  }
}

@media only screen and (min-width: 1400px) {
  .movies-list-item {
    width: 23%;
    margin-bottom: 20px;
  }
  .movies-list{
    align-items: stretch;
  }

  .card-details-container{
    padding: 5% 30%;
  }
}

